/*-----------------Supportive Classes--------------*/
.container{
	clear: both;
	margin: 10px;
}

h1{
	font-family: 'Open Sans', sans-serif;
}

h2, h3{
	font-family: 'Montserrat', sans-serif;

}

/*-----------------End of Supportive Classes--------------*/

/*-----------------Main Nav---------------*/

#mainheader{
	background-color: black;
	overflow: hidden;
	height: 62px;
}

#logo{
	float: left;
	margin-left: 5px;
}

#mainheader a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	display: block;
	height: 30px;
	line-height: 30px;
	width: 115px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
}

#mainheader a:hover{
	color: black;
	background-color: white;
}

header h2{
	float: left;
	color: white;
	font-weight: normal;
	margin: 20px 50px 20px 0px;
	width: 200px;
	text-align: center;
}

nav ul{
	overflow: hidden;
}

nav li{
	font-family: "Helvetica";
	list-style-type: none;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
}

body{
	width: 1000px;
	margin: 0 auto;
}

/*-----------------End of Main Nav---------------*/

/*-----------------Main Content---------------*/

h1{
	float: left;
	width: 545px;
	text-align: center;
	font-size: 40px;
	color: white;
	margin-top: 40px;
}

#mainimg{
	float: right;
	width: 450px;
	height: 420px;
	margin: 5px 5px 0px 0px;
}

#mainpara{
	color: white;
	overflow: hidden;
	width: 515px;
	height: 180px;
	padding-top: 20px;
	padding-left: 20px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}

#sectionmaintext{
	clear: both;
	width: 1000px;
	height: 430px;
	margin: 0;
	background-color: #142240;
	overflow: hidden;
}
/*-----------------End of Main Content---------------*/


/*-----------------Sub-Content 1---------------*/

#sectionsub{
	background-color: red;
	width: 1000px;
	height: 200px;
	-moz-column-count: 3;
	-moz-column-gap: 25px;
}

/*-----------------End of Sub-Content 1---------------*/


/*-----------------Sub-Content 2---------------*/

#asidegallery{
	background-color: gray;
	width: 335px;
	height: 116px;
	margin: 0;
	overflow: hidden;
	float: left;
}

aside ul{
	padding: 0;
}

aside ul li{
	width: 75px;
	height: 75px;
	margin: 7px;
	float: left;
	list-style-type: none;
}

aside h3{
	width: 180px;
	margin-top: 0px;
	margin-bottom: -15px;
}

#divexternal{
	background-color: green;
	float: right;
	width: 665px;
	height: 116px;
}
/*-----------------End of Sub-Content 2---------------*/

/*-----------------Sub-Content 3---------------*/

article{
	background-color: gray;
}

article h3{
	background-color: red;
	width: 1000px;
	text-align: center;
}

/*-----------------End of Sub-Content 3---------------*/
