/*---------------------------------Site Wide Classes-----------------------------*/
.container{
	clear: both;
	margin: 1%; /* 10px/1000px */
}

h1{
	font-family: 'Open Sans', sans-serif;
}

h2, h3{
	font-family: 'Montserrat', sans-serif;

}

img{
	max-width: 100%;
}

/*---------------------------------End of Site Wide Classes-----------------------------*/


/*----------------------------------------Start of Main Nav-----------------------------*/

#mainheader{
	height: 62px;
	background-color: rgba(143, 170, 191, .50);
	overflow: hidden;
}

#logo{
	float: left;
	margin-left: .5%; /* 5px/1000px */
	max-width: 100%;
}

#mainheader a{
	height: 30px;
	width: 115px;
	color: white;
	display: block;
	border-style: solid;
	border-width: 1px;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}

#mainheader a:hover{
	color: white;
	background-color: rgba(20, 34, 64, .75);
}

#linktotop{
		width: 20%;
}

header h2{
	float: left;
	width: 20%; /* 200px/1000px */
	color: white;
	margin: 2% 5% 2% 0%; /* 20px/1000px, 50px/1000px, 20px/1000px, 0px */
	font-weight: normal;
	text-align: center;
	font-size: 1.5em;
}

nav ul{
	overflow: hidden;
}

nav li{
	float: right;
	padding-left: 1.305483%;
	padding-right: 1.305483%;
	font-family: "Helvetica";
	list-style-type: none;
}

body{
	max-width: 1000px;
	margin: 0 auto;
	background: url(../Images/sitewallpaper.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*------------------------------------------End of Main Nav-----------------------------*/


/*----------------------------------------Start of Main Content-------------------------*/

h1{
	float: left;
	width: 54.5%; /* 545px/1000px */
	color: white;
	margin-top: 4%; /* 40px/1000px */
	text-align: center;
	font-size: 2.5em; /* 40px/16px */
	text-shadow: 5px 5px 5px black;
}


#mainimg{
	float: right;
	max-width: 100%;
	margin: .5% .5% 0% 0%; /* 5px/1000px */
	opacity: .75;
}

#mainpara{
	height: 180px;
	width: 51.5%; /* 515px/1000px */
	padding-top: 1.9834951%;
	padding-left: 1.9834951%;
	color: white;
	overflow: hidden;
	font-family: 'Droid Sans', sans-serif;
	font-size: 1em;
}

#sectionmaincontent{
	clear: both;
	height: 430px;
	width: 100%;
	margin: 0%;
	background-color: rgba(20, 34, 64, .75);
	overflow: hidden;
}

#sectionmaincontent aside{
	height: 48px;
	width: 22.7%; /* 227px/1000px */
	margin-left: 1.7%; /* 17px/1000px */
	margin-top: 2%; /* 20px/1000px */

}
#sectionmaincontent aside img{
	height: 53px;	
	width: 103.524229%; /* 235px/227px */
}

#sectionmaincontent a{
	outline: 0;
}

#sectionmaincontent a:active{
	opacity: .75;
}
/*------------------------------------------End of Main Content-------------------------*/


/*----------------------------------------Start of Ecto Content-------------------------*/

#ectocontent{
	float: left;
	height: 300px;	
	width: 12.7%; /* 127px/1000px */
	margin: 2% 0%;
	color: white;
	background-color: rgba(143, 170, 191, .50);
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	text-align: center;
	overflow: hidden;
}

#headecto{
	margin-top: 0%;
	text-decoration: underline;
	font-size: 1.125em; /* 18px/16px */
}

#ectocontent ul{
	height: 300px;
	margin-left: -31.496063%; /* -40px/127px */
	margin-top: -14.96063px; /* -19px/127px */
	list-style-type: none;
	
}

#ectocontent li{
	margin-top: 47.244094%; /* 60px/127px */
	color: white;	
	font-family: 'Montserrat', sans-serif;
	font-size: .8125em; /* 13px/16px */
}

#sectionecto{
	float: right;
	height: 300px;		
	width: 87%; /* 870px/1000px */
	margin-top: 2%;
	color: white;
	background-color: rgba(20, 34, 64, .75);
	border-style: solid;
	border-left: none;
	border-width: 1px;
	border-color: silver;

}

#ectop{
	-moz-column-count: 3;
	-moz-column-gap: 2.8735632%; /* 25px/870px */
	height: 260px;
	margin: 2.2988506%; /* 20px/870px */
	font-family: 'Droid Sans', sans-serif;
	font-size: .875em;
}

/*------------------------------------------End of Ecto Content-------------------------*/


/*----------------------------------------Start of Meso Content-------------------------*/

#mesocontent{
	float: left;
	height: 300px;	
	width: 12.7%; /* 127px/1000px */
	margin: 0% 0% 2% 0%;
	color: white;
	text-align: center;
	background-color: rgba(143, 170, 191, .50);
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	overflow: hidden;
}

#headmeso{
	margin-top: 0%;
	text-decoration: underline;
	font-size: 1.125em; /* 18px/16px */
}

#mesocontent ul{
	height: 300px;
	margin-left: -31.496063%; /* -40px/127px */
	margin-top: -14.96063px; /* -19px/127px */
	list-style-type: none;
	
}

#mesocontent li{
	margin-top: 47.244094%; /* 60px/127px */
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: .8125em; /* 13px/16px */
}

#sectionmeso{
	float: right;
	height: 300px;
	width: 87%; /* 870px/1000px */
	margin-top: 0%;
	color: white;
	background-color: rgba(20, 34, 64, .75);
	border-style: solid;
	border-left: none;
	border-width: 1px;
	border-color: silver;
}

#mesop{
	-moz-column-count: 3;
	-moz-column-gap: 2.8735632%; /* 25px/870px */
	height: 260px;
	margin: 2.2988506%; /* 20px/870px */
	font-family: 'Droid Sans', sans-serif;
	font-size: .875em;
}




/*------------------------------------------End of Meso Content-------------------------*/


/*----------------------------------------Start of Endo Content-------------------------*/

#endocontent{
	float: left;
	height: 300px;
	width: 12.7%; /* 127px/1000px */
	margin: 0%;
	background-color: rgba(143, 170, 191, .50);
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	overflow: hidden;
}

#headendo{
	margin-top: 0%;
	color: white;
	text-decoration: underline;
	font-size: 1.125em; /* 18px/16px */
}

#endocontent ul{
	height: 300px;
	margin-left: -31.496063%; /* -40px/127px */
	margin-top: -14.96063px; /* -19px/127px */
	list-style-type: none;
}

#endocontent li{
	margin-top: 47.244094%; /* 60px/127px */
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: .8125em; /* 13px/16px */
}

#sectionendo{
	float: right;
	height: 300px;
	width: 87%; /* 870px/1000px */
	margin-top: 0%;
	background-color: rgba(20, 34, 64, .75);
	border-style: solid;
	border-left: none;
	border-width: 1px;
	border-color: silver;
}

#endop{
	-moz-column-count: 3;
	-moz-column-gap: 2.8735632%; /* 25px/870px */
	height: 260px;
	margin: 2.2988506%; /* 20px/870px */
	color: white;
	font-family: 'Droid Sans', sans-serif;
	font-size: .875em;
}


/*------------------------------------------End of Endo Content-------------------------*/


/*-----------------------------------------Start of Gallery Content---------------------*/




#asidegallery{
	float: left;
	height: 116px;
	width: 100%;
	margin: 20px 0 0 0;
	color: white;
	border-bottom: solid;
	border-width: 2px;
	overflow: hidden;
}

aside ul{
	width: 100%;
	margin-top: 2.6%; /* 26px/1000px */
	margin-left: 2.4%; /* 24px/1000px */
	padding: 0% 0% 0% 1.5%; /* 0, 0, 0, 15px/1000px */
	overflow: hidden;
}

aside ul li{
	float: left;
	height: 75px;
	width: 7.5%; /* 75px/1000px */
	margin-right: 1.5%; /* 15px/1000px */
	list-style-type: none;
	border: solid;
	border-width: 2px;
	border-color: #4d4d4d;
}

aside h3{
	width: 18%; /* 180px/1000px */
	margin-top: 0%;
	margin-bottom: -1.5%; /* -15px/1000px */
}
/*----------------------------------End of Gallery Content---------------------*/


/*-----------------------------------Start of Side/External Content---------------------*/

article{
	float: left;
	height: 115px;
	width: 50%; /* 500px/1000px */
	margin-top: 2%; /* 20px/1000px */
	color: white;
	background-color: rgba(20, 34, 64, .75);

}

article h3{
	width: 100%;
	margin-top: 0%;
	margin-bottom: 0%;
	background-color: rgb(20, 34, 64);
	text-align: center;
}

article p{
	width: 98%; /* 480px/500px */
	margin-top: 2%; /* 10px/500px */
	margin-left: 2%; /* 10px/500px */
	font-family: 'Droid Sans', sans-serif;
	font-size: .875em; /* 14px/16px */
}

 #divexternal h3{
	width: 100%;
	margin-top: 0%;
	margin-bottom: -3.0612245%; /* 15px/490px */
	text-align: center;
	background-color: rgb(143, 170, 191);

}

#divexternal{
	float: right;
	height: 114px;
	width: 49%;
	margin: 2% 0% 0% 0%;
	color: white;
	background-color: rgba(143, 170, 191, .50);
}

#divexternal a{
	margin-left: 30px;
	color: white;
	text-decoration: none;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}

#divexternal a:hover{
	color: #142240;
	text-decoration: underline;
}

#mandslink{
	margin-top: 24px;
	display: block;
}

#bodyblink{
	margin-top: 10px;
	display: block;
}

#livestrlink{
	margin-top: 12px;
	display: block;
}

/*-------------------------------------End of Side/External Content---------------------*/


/*-------------------------------------Start of Footer Content--------------------------*/

footer{
	clear: both;
	margin-top: 15%;
	color: white;
	background-color: rgba(143, 170, 191, .50);
	font-family: 'Droid Sans', sans-serif;
	font-size: .875em; /* 14px/16px */
	overflow: hidden;
}

footer ul{
	width: 100%;
	margin: 0%;
	padding: 0%;
	overflow: hidden;
}

footer li{
	float: left;
	width: 49.5%;
	list-style-type: none;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	color: #142240;
	text-decoration: underline;
}

#footercontact{
	text-align: left;
	margin-left: .5%;
}

#footercopyright{
	text-align: right;
}



/*---------------------------------------End of Footer Content--------------------------*/



















/*--------------------------------------Start of Media Queries--------------------------*/

/* Tablet portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 1015px) {

	body {
		background-image: none;
		background-color: black;
		width: 98%;
	}


/*----------------------------------------Start of Main Nav-----------------------------*/

nav{

}
nav li{
	padding-left: .255483%;
	padding-right: .955483%;
}

#linktotop {
	width: 20%;
	
}

/*------------------------------------------End of Main Nav-----------------------------*/


/*----------------------------------------Start of Main Content-------------------------*/

h1{
	font-size: 2.5em; /* 40px/16px */
}

#mainimg{
	max-width: 45%;
}



#mainpara{
	font-size: .875em;
}
/*------------------------------------------End of Main Content-------------------------*/


/*----------------------------------------Start of Ecto Content-------------------------*/

#ectocontent{
	float: none;
	height: 20px;
	margin-bottom: 0%;
	width: 30%;
}

#headecto{
	text-decoration: underline;
	font-size: .900em; /* 18px/16px */
}

#ectocontent ul{
	display: none;
	
}


#sectionecto{
	float: none;
	margin-top: 0%;
	width: 100%;
}

#ectop{
	font-size: .840em;
}

/*------------------------------------------End of Ecto Content-------------------------*/


/*----------------------------------------Start of Meso Content-------------------------*/

#mesocontent{
	float: none;
	height: 20px;
	margin-bottom: 0%;
	width: 30%;
}

#headmeso{
	text-decoration: underline;
	font-size: .900em; /* 18px/16px */
}

#mesocontent ul{
	display: none;
	
}


#sectionmeso{
	float: none;
	margin-top: 0%;
	width: 100%;
}

#mesop{
	font-size: .840em;
}




/*------------------------------------------End of Meso Content-------------------------*/


/*----------------------------------------Start of Endo Content-------------------------*/

#endocontent{
	float: none;
	height: 20px;
	margin-bottom: 0%;
	width: 30%;
}

#headendo{
	font-size: .900em; /* 18px/16px */
}

#endocontent ul{
	display: none;
}


#sectionendo{
	float: none;
	margin-top: 0%;
	width: 100%;

}

#endop{
	font-size: .840em;
}


/*------------------------------------------End of Endo Content-------------------------*/


/*-----------------------------------------Start of Gallery Content---------------------*/




#asidegallery{
	width: 100%;
	margin: 2% 0% 0% 0%;
}

#asidegallery h3{
	font-size: .900em;
}

aside ul{
	margin-left: 0%;
}


/*----------------------------------End of Gallery Content---------------------*/


/*-----------------------------------Start of Side/External Content---------------------*/

article h3{
	font-size: .900em;
}

article p{
	font-size: .775em;
}

 #divexternal h3{
	font-size: .900em;
}

#divexternal a{
	font-size: .770em;
	margin-left: 2%;
}

#mandslink{
	margin-top: 6%;
}

#bodyblink{
	margin: 1%;
}

#livestrlink{
	margin: 1%;
}

/*-------------------------------------End of Side/External Content---------------------*/


/*-------------------------------------Start of Footer Content--------------------------*/

footer{
	margin-top: 0%;
	font-size: .675em;
}
	
}
/* Mobile Landscape size to Tablet portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	body {
		background-image: none;
		background-color: black;
		width: 98%;
	}


/*----------------------------------------Start of Main Nav-----------------------------*/


nav li{
	display: none;
}

#linktotop{
	float: right;
	margin-top: 2.5%;
	text-align: right;
	width: 60%;
	font-size: 2em;
}



/*------------------------------------------End of Main Nav-----------------------------*/


/*----------------------------------------Start of Main Content-------------------------*/

h1{
	font-size: 3.5em;
	width: 98%;
}

#mainimg{
	display: none;
}

#mainpara{
	height: 40%;
	font-size: .875em;
	width: 98%;
}


#sectionmaincontent aside{
	height: 30%;
	width: 30.146082%; /* 227px/1000px */
	margin-left: 1.7%; /* 17px/1000px */
	margin-top: -.25%; /* 20px/1000px */

}
#sectionmaincontent aside img{
	height: 40.882629%;	
	max-width: 103.524229%; /* 235px/227px */
}
/*------------------------------------------End of Main Content-------------------------*/


/*----------------------------------------Start of Ecto Content-------------------------*/

#ectocontent{
	float: none;
	height: 20px;
	margin-bottom: 0%;
	margin-left: 1.5%;
	width: 30%;
}

#headecto{
	font-size: .900em; /* 18px/16px */
}

#ectocontent ul{
	display: none;
	
}


#sectionecto{
	float: none;
	margin-top: 0%;
	width: 100%;
	height: 90%;
}

#ectop{
	font-size: .800em;
	-moz-column-count: 1;
	height: 90%;
}

/*------------------------------------------End of Ecto Content-------------------------*/


/*----------------------------------------Start of Meso Content-------------------------*/

#mesocontent{
	float: none;
	height: 20px;
	margin-bottom: 0%;
	margin-left: 1.5%;
	width: 30%;
}

#headmeso{
	text-decoration: underline;
	font-size: .900em; /* 18px/16px */
}

#mesocontent ul{
	display: none;
	
}


#sectionmeso{
	float: none;
	margin-top: 0%;
	width: 100%;
	height: 90%;
}

#mesop{
	font-size: .800em;
	-moz-column-count: 1;
	height: 90%;
}




/*------------------------------------------End of Meso Content-------------------------*/


/*----------------------------------------Start of Endo Content-------------------------*/

#endocontent{
	float: none;
	height: 20px;
	margin-bottom: 0%;
	margin-left: 1.5%;
	width: 30%;
}

#headendo{
	font-size: .900em; /* 18px/16px */
}

#endocontent ul{
	display: none;
}


#sectionendo{
	float: none;
	margin-top: 0%;
	width: 100%;
	height: 90%;
}

#endop{
	font-size: .800em;
	-moz-column-count: 1;
	height: 90%;
}


/*------------------------------------------End of Endo Content-------------------------*/


/*-----------------------------------------Start of Gallery Content---------------------*/


#asidegallery{
	display: none;
}

/*----------------------------------End of Gallery Content---------------------*/


/*-----------------------------------Start of Side/External Content---------------------*/

article{
	display: none;
}

#divexternal{
	display: none;
}

/*-------------------------------------End of Side/External Content---------------------*/


/*-------------------------------------Start of Footer Content--------------------------*/

footer{
	margin-top: 0%;
	font-size: .575em;
}
	
}

/* Mobile Portrait size to Mobile Landscape size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body {
		background-image: none;
		background-color: black;
		width: 98%;
	}


/*----------------------------------------Start of Main Nav-----------------------------*/


nav li{
	display: none;
}

#linktotop{
	float: none;
	margin-top: 3%;
	margin-left: 2%;
	text-align: left;
	width: 95%;
	font-size: 1.8em;
}

#logo{
	display: none;
}

/*------------------------------------------End of Main Nav-----------------------------*/


/*----------------------------------------Start of Main Content-------------------------*/

h1{
	font-size: 2.5em;
	width: 98%;
}

#mainimg{
	display: none;
}

#mainpara{
	height: 80%;
	font-size: .850em;
	width: 98%;
}


#sectionmaincontent aside{
	display: none;
}


/*------------------------------------------End of Main Content-------------------------*/


/*----------------------------------------Start of Ecto Content-------------------------*/

#ectocontent{
	float: none;
	height: 20px;
	margin-bottom: 0%;
	margin-left: 1.5%;
	width: 35%;
}

#headecto{
	font-size: .875em; /* 18px/16px */
}

#ectocontent ul{
	display: none;
	
}


#sectionecto{
	float: none;
	margin-top: 0%;
	width: 100%;
	height: 90%;
}

#ectop{
	font-size: .750em;
	-moz-column-count: 1;
	height: 90%;
}

/*------------------------------------------End of Ecto Content-------------------------*/


/*----------------------------------------Start of Meso Content-------------------------*/

#mesocontent{
	float: none;
	height: 20px;
	margin-bottom: 0%;
	margin-left: 1.5%;
	width: 35%;
}

#headmeso{
	text-decoration: underline;
	font-size: .875em; /* 18px/16px */
}

#mesocontent ul{
	display: none;
	
}


#sectionmeso{
	float: none;
	margin-top: 0%;
	width: 100%;
	height: 90%;
}

#mesop{
	font-size: .750em;
	-moz-column-count: 1;
	height: 90%;
}




/*------------------------------------------End of Meso Content-------------------------*/


/*----------------------------------------Start of Endo Content-------------------------*/

#endocontent{
	float: none;
	height: 20px;
	margin-bottom: 0%;
	margin-left: 1.5%;
	width: 35%;
}

#headendo{
	font-size: .875em; /* 18px/16px */
}

#endocontent ul{
	display: none;
}


#sectionendo{
	float: none;
	margin-top: 0%;
	width: 100%;
	height: 90%;
}

#endop{
	font-size: .750em;
	-moz-column-count: 1;
	height: 90%;
}


/*------------------------------------------End of Endo Content-------------------------*/


/*-----------------------------------------Start of Gallery Content---------------------*/


#asidegallery{
	display: none;
}

/*----------------------------------End of Gallery Content---------------------*/


/*-----------------------------------Start of Side/External Content---------------------*/

article{
	display: none;
}

#divexternal{
	display: none;
}

/*-------------------------------------End of Side/External Content---------------------*/


/*-------------------------------------Start of Footer Content--------------------------*/

footer{
	margin-top: 0%;
	font-size: .575em;
}

}