/*---------------------------------Site Wide Classes-----------------------------*/
.container{
	clear: both;
	margin: 10px;
}

h1{
	font-family: 'Open Sans', sans-serif;
}

h2, h3{
	font-family: 'Montserrat', sans-serif;

}


/*---------------------------------End of Site Wide Classes-----------------------------*/


/*----------------------------------------Start of Main Nav-----------------------------*/

#mainheader{
	height: 62px;
	background-color: rgba(143, 170, 191, .50);
	overflow: hidden;
}

#logo{
	float: left;
	margin-left: 5px;
}

#mainheader a{
	height: 30px;
	width: 115px;
	color: white;
	display: block;
	border-style: solid;
	border-width: 1px;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}

#mainheader a:hover{
	color: white;
	background-color: rgba(20, 34, 64, .75);
}

header h2{
	float: left;
	width: 200px;
	color: white;
	margin: 20px 50px 20px 0px;
	font-weight: normal;
	text-align: center;
}

nav ul{
	overflow: hidden;
}

nav li{
	float: right;
	padding-left: 5px;
	padding-right: 5px;
	font-family: "Helvetica";
	list-style-type: none;
}

body{
	width: 1000px;
	margin: 0 auto;
	background: url(../Images/sitewallpaper.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*------------------------------------------End of Main Nav-----------------------------*/


/*----------------------------------------Start of Main Content-------------------------*/

h1{
	float: left;
	width: 545px;
	color: white;
	margin-top: 40px;
	text-align: center;
	font-size: 40px;
	text-shadow: 5px 5px 5px black;
}

#mainimg{
	float: right;
	height: 420px;
	width: 450px;
	margin: 5px 5px 0px 0px;
	opacity: .75;
}

#mainpara{
	height: 180px;
	width: 515px;
	padding-top: 20px;
	padding-left: 20px;
	color: white;
	overflow: hidden;
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
}

#sectionmaincontent{
	clear: both;
	height: 430px;
	width: 1000px;
	margin: 0;
	background-color: rgba(20, 34, 64, .75);
	overflow: hidden;
}

#sectionmaincontent aside{
	height: 48px;
	width: 227px;
	margin-left: 17px;
	margin-top: 20px;

}
#sectionmaincontent aside img{
	height: 53px;	
	width: 235px;
}

#sectionmaincontent a{
	outline: 0;
}

#sectionmaincontent a:active{
	opacity: .75;
}
/*------------------------------------------End of Main Content-------------------------*/


/*----------------------------------------Start of Ecto Content-------------------------*/

#ectocontent{
	float: left;
	height: 300px;	
	width: 127px;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	background-color: rgba(143, 170, 191, .50);
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	text-align: center;
	overflow: hidden;
}

#headecto{
	margin-top: 0px;
	text-decoration: underline;
	font-size: 18px;
}

#ectocontent ul{
	height: 300px;
	margin-left: -40px;
	margin-top: -19px;
	list-style-type: none;
	
}

#ectocontent li{
	margin-top: 60px;
	color: white;	
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

#sectionecto{
	float: right;
	height: 300px;		
	width: 870px;
	margin-top: 20px;
	color: white;
	background-color: rgba(20, 34, 64, .75);
	border-style: solid;
	border-left: none;
	border-width: 1px;
	border-color: silver;

}

#ectop{
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	height: 260px;
	margin: 20px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}

/*------------------------------------------End of Ecto Content-------------------------*/


/*----------------------------------------Start of Meso Content-------------------------*/

#mesocontent{
	float: left;
	height: 300px;	
	width: 127px;
	margin: 0px;
	margin-bottom: 20px;
	color: white;
	text-align: center;
	background-color: rgba(143, 170, 191, .50);
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	overflow: hidden;
}

#headmeso{
	margin-top: 0px;
	text-decoration: underline;
	font-size: 18px;
}

#mesocontent ul{
	height: 300px;
	margin-left: -40px;
	margin-top: -19px;
	list-style-type: none;
	
}

#mesocontent li{
	margin-top: 60px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

#sectionmeso{
	float: right;
	height: 300px;
	width: 870px;	
	margin-top: 0px;
	color: white;
	background-color: rgba(20, 34, 64, .75);
	border-style: solid;
	border-left: none;
	border-width: 1px;
	border-color: silver;
}

#mesop{
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	height: 260px;
	margin: 20px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}




/*------------------------------------------End of Meso Content-------------------------*/


/*----------------------------------------Start of Endo Content-------------------------*/

#endocontent{
	float: left;
	height: 300px;
	width: 127px;
	margin: 0px;
	background-color: rgba(143, 170, 191, .50);
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-color: silver;
	overflow: hidden;
}

#headendo{
	margin-top: 0px;
	color: white;
	text-decoration: underline;
	font-size: 18px;
}

#endocontent ul{
	height: 300px;
	margin-left: -40px;
	margin-top: -19px;
	list-style-type: none;
}

#endocontent li{
	margin-top: 60px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

#sectionendo{
	float: right;
	height: 300px;
	width: 870px;
	margin-top: 0px;
	background-color: rgba(20, 34, 64, .75);
	border-style: solid;
	border-left: none;
	border-width: 1px;
	border-color: silver;
}

#endop{
	-moz-column-count: 3;
	-moz-column-gap: 25px;
	height: 260px;
	margin: 20px;
	color: white;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}


/*------------------------------------------End of Endo Content-------------------------*/


/*-----------------------------------------Start of Gallery Content---------------------*/




#asidegallery{
	float: left;
	height: 116px;
	width: 1000px;
	margin: 20px 0 0 0;
	color: white;
	border-bottom: solid;
	border-width: 2px;
	overflow: hidden;
}

aside ul{
	width: 1000px;
	margin-top: 26px;
	margin-left: 24px;
	padding: 0 0 0 15px;
	overflow: hidden;
}

aside ul li{
	float: left;
	height: 75px;
	width: 75px;
	margin-right: 15px;
	list-style-type: none;
	border: solid;
	border-width: 2px;
	border-color: #4d4d4d;
}

aside h3{
	width: 180px;
	margin-top: 0px;
	margin-bottom: -15px;
}
/*----------------------------------End of Gallery Content---------------------*/


/*-----------------------------------Start of Side/External Content---------------------*/

article{
	float: left;
	height: 115px;
	width: 500px;
	margin-top: 20px;
	color: white;
	background-color: rgba(20, 34, 64, .75);

}

article h3{
	width: 500px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: rgb(20, 34, 64);
	text-align: center;
}

article p{
	width: 490px;
	margin-top: 10px;
	margin-left: 10px;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}

 #divexternal h3{
	width: 490px;
	margin-top: 0px;
	margin-bottom: -15px;
	text-align: center;
	background-color: rgb(143, 170, 191);

}

#divexternal{
	float: right;
	height: 114px;
	width: 490px;
	margin: 20px 0 0 0;
	color: white;
	background-color: rgba(143, 170, 191, .50);
}

#divexternal a{
	margin-left: 30px;
	color: white;
	text-decoration: none;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
}

#divexternal a:hover{
	color: #142240;
	text-decoration: underline;
}

#mandslink{
	margin-top: 24px;
	display: block;
}

#bodyblink{
	margin-top: 10px;
	display: block;
}

#livestrlink{
	margin-top: 12px;
	display: block;
}

/*-------------------------------------End of Side/External Content---------------------*/


/*-------------------------------------Start of Footer Content--------------------------*/

footer{
	clear: both;
	margin-top: 150px;
	color: white;
	background-color: rgba(143, 170, 191, .50);
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	overflow: hidden;
}

footer ul{
	width: 1000px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

footer li{
	float: left;
	width: 495px;
	list-style-type: none;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	color: #142240;
	text-decoration: underline;
}

#footercontact{
	text-align: left;
	margin-left: 5px;
}

#footercopyright{
	text-align: right;
}



/*---------------------------------------End of Footer Content--------------------------*/
